https://tushare.pro/  
https://tushare.pro/document/2

# api

In [1]:
import tushare as ts
pro = ts.pro_api('5fd1639100f8a22b7f86e882e03192009faa72bae1ae93803e1172d5')

## 基础数据
### 股票列表stock_basic  
描述：获取基础信息数据，包括股票代码、名称、上市日期、退市日期等

In [2]:
#查询当前所有正常上市交易的股票列表

data = pro.stock_basic(exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')
data.head()

     ts_code  symbol  name area industry list_date
0  000001.SZ  000001  平安银行   深圳       银行  19910403
1  000002.SZ  000002   万科A   深圳     全国地产  19910129
2  000004.SZ  000004  国农科技   深圳     生物制药  19910114
3  000005.SZ  000005  世纪星源   深圳     环境保护  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产  19920427

In [7]:
data.industry.unique()

array(['银行', '全国地产', '生物制药', '环境保护', '区域地产', '酒店餐饮', '运输设备', '综合类',
       '建筑工程', '玻璃', '家用电器', '文教休闲', '装修装饰', '其他商业', '元器件', 'IT设备',
       '其他建材', '汽车服务', '火力发电', '医药商业', '汽车配件', '广告包装', '轻工机械', '新型电力',
       '房产服务', '饲料', '电气设备', '石油加工', '铅锌', '农业综合', '批发业', '通信设备', '旅游景点',
       '港口', '机场', '石油贸易', '空运', '医疗保健', '商贸代理', '化学制药', '影视音像', '工程机械',
       '软件服务', '证券', '化纤', '水泥', '专用机械', '供气供热', '农药化肥', '机床制造', '多元金融',
       '百货', '中成药', '路桥', '造纸', '食品', '黄金', '化工原料', '矿物制品', '水运', '日用化工',
       '机械基件', '汽车整车', '煤炭开采', '铁路', '染料涂料', '白酒', '林业', '水务', '水力发电',
       '互联网', '旅游服务', '纺织', '铝', '保险', '园区开发', '小金属', '铜', '普钢', '航空',
       '特种钢', '种植业', '出版业', '焦炭加工', '啤酒', '公路', '超市连锁', '钢加工', '渔业',
       '农用机械', '软饮料', '化工机械', '塑料', '红黄酒', '橡胶', '家居用品', '摩托车', '电器仪表',
       '服饰', '仓储物流', '纺织机械', '电器连锁', '半导体', '电信运营', '石油开采', '乳制品', '商品城',
       None, '公共交通', '船舶', '陶瓷'], dtype=object)

In [10]:
data.loc[data.industry=='黄金', 'name'].tolist()

['中润资源',
 '湖南黄金',
 '恒邦股份',
 '荣华实业',
 '*ST金泰',
 '中金黄金',
 '山东黄金',
 '*ST刚泰',
 '园城黄金',
 '赤峰黄金',
 '西部黄金',
 '紫金矿业']

In [7]:
data.shape

(3656, 6)

In [8]:
#查询当前所有正常上市交易的股票列表

data = pro.query('stock_basic', exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')
data.head()

     ts_code  symbol  name area industry list_date
0  000001.SZ  000001  平安银行   深圳       银行  19910403
1  000002.SZ  000002   万科A   深圳     全国地产  19910129
2  000004.SZ  000004  国农科技   深圳     生物制药  19910114
3  000005.SZ  000005  世纪星源   深圳     环境保护  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产  19920427

In [9]:
data.shape

(3656, 6)

### 交易日历trade_cal

In [10]:
df = pro.trade_cal(exchange='', start_date='20180101', end_date='20181231')
df.head()

  exchange  cal_date  is_open
0      SSE  20180101        0
1      SSE  20180102        1
2      SSE  20180103        1
3      SSE  20180104        1
4      SSE  20180105        1

In [ ]:
pro.query('trade_cal', start_date='20180101', end_date='20181231')

### 上市公司基本信息stock_company

In [12]:
df = pro.stock_company(exchange='SZSE', fields='ts_code,chairman,manager,secretary,reg_capital,setup_date,province')
df.head()

     ts_code chairman manager secretary  reg_capital setup_date province
0  002927.SZ      黄正乾     黄正乾        余辉    17071.600   20081107       贵州
1  300696.SZ      范庆新     杨有新        陈苗    11920.000   20040301       四川
2  002960.SZ      蔡为民     蔡为民       卢文浩    18000.000   20010615       河北
3  300742.SZ      李占江     李占江       钟孟光     7849.857   20120419       江苏
4  300700.SZ      段志明     段志明       周家华     8240.000   20090408       湖南

## 行情数据

### 日线行情daily

In [13]:
df = pro.daily(ts_code='000001.SZ', start_date='20180701', end_date='20180718')
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20180718,8.75,8.85,8.69,8.70,8.72,-0.02,-0.23,525152.77,460697.377
1,000001.SZ,20180717,8.74,8.75,8.66,8.72,8.73,-0.01,-0.11,375356.33,326396.994
2,000001.SZ,20180716,8.85,8.90,8.69,8.73,8.88,-0.15,-1.69,689845.58,603427.713
3,000001.SZ,20180713,8.92,8.94,8.82,8.88,8.88,0.00,0.00,603378.21,535401.175
4,000001.SZ,20180712,8.60,8.97,8.58,8.88,8.64,0.24,2.78,1140492.31,1008658.828

In [ ]:
df = pro.query('daily', ts_code='000001.SZ', start_date='20180701', end_date='20180718')

#### 也可以通过日期取历史某一天的全部历史

In [14]:
df = pro.daily(trade_date='20180810')
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20180810,9.30,9.32,9.16,9.23,9.29,-0.06,-0.6459,424168.36,391366.341
1,000002.SZ,20180810,23.00,24.07,22.93,23.18,22.48,0.70,3.1139,1201163.03,2820091.738
2,000004.SZ,20180810,18.39,18.75,18.03,18.27,18.85,-0.58,-3.0769,17253.09,31617.673
3,000005.SZ,20180810,3.05,3.14,3.02,3.08,3.06,0.02,0.6536,56844.76,17559.883
4,000006.SZ,20180810,5.61,5.93,5.61,5.79,5.60,0.19,3.3929,151639.23,87710.639

In [15]:
df.shape

(3412, 11)

### 每日指标daily_basic

In [16]:
df = pro.daily_basic(ts_code='', trade_date='20180726', fields='ts_code,trade_date,turnover_rate,volume_ratio,pe,pb')
df.head()

     ts_code trade_date  turnover_rate  volume_ratio        pe      pb
0  600230.SH   20180726         2.4584          0.72    8.6928  3.7203
1  600237.SH   20180726         1.4737          0.88  166.4001  1.8868
2  002465.SZ   20180726         0.7489          0.72   71.8943  2.6391
3  300732.SZ   20180726         6.7083          0.77   21.8101  3.2513
4  600007.SH   20180726         0.0381          0.61   23.7696  2.3774

In [ ]:
df = pro.query('daily_basic', ts_code='', trade_date='20180726',fields='ts_code,trade_date,turnover_rate,volume_ratio,pe,pb')

## 财务数据
Pro版的财务数据跟旧版有着明显的差异，Pro提供的是完整的财务指标和全部历史数据，同时也提供质量比较高的业绩预告和业绩快报数据。我们将继续完善和充实财务指标，为大家提供更全面的反映上市公司基本面情况的数据，希望大家愉快的使用。

### 利润表income

In [18]:
df = pro.income(ts_code='600000.SH', start_date='20180101', end_date='20180730', fields='ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,basic_eps,diluted_eps')
df.head()

,ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,basic_eps,diluted_eps
0,600000.SH,20180428,20180428,20180331,1,2,0.46,0.46
1,600000.SH,20180428,20180428,20171231,1,2,1.84,1.84

## 市场参考数据

### 概念股分类表

In [19]:
df = pro.concept()
df.head()

  code   name src
0  TS0   密集调研  ts
1  TS1  南北船合并  ts
2  TS2     5G  ts
3  TS3     机场  ts
4  TS4    高价股  ts

### 概念股列表concept_detail

In [20]:
#取5G概念明细
df = pro.concept_detail(id='TS2', fields='ts_code,name')
df.head()

     ts_code  name
0  000008.SZ  神州高铁
1  000063.SZ  中兴通讯
2  000070.SZ  特发信息
3  000586.SZ  汇源通信
4  000636.SZ  风华高科

In [21]:
#或者查询某个股票的概念

df = pro.concept_detail(ts_code = '600848.SH')
df.head()

      id concept_name    ts_code  name
0   TS56           电改  600848.SH  上海临港
1   TS59          特斯拉  600848.SH  上海临港
2  TS185      环杭州湾大湾区  600848.SH  上海临港
3  TS199          房地产  600848.SH  上海临港
4  TS211        小米概念股  600848.SH  上海临港

### 股东人数stk_holdernumber

In [22]:
df = pro.stk_holdernumber(ts_code='300199.SZ', start_date='20160101', end_date='20181231')
df.head()

Exception: 抱歉，您没有权限访问该接口，权限的具体详情访问：https://tushare.pro/document/1?doc_id=108。

## 指数数据

### 指数基本信息index_basic

In [23]:
df = pro.index_basic(market='SW')
df.head()

     ts_code    name market publisher category base_date  base_point list_date
0  801001.SI    申万50     SW      申万研究       其他  19991230      1000.0      None
1  801002.SI   申万中小板     SW      申万研究       其他  20040705      1000.0      None
2  801003.SI    申万A股     SW      申万研究       其他  19991230      1000.0      None
3  801004.SI  申万股改指数     SW      申万研究       其他  20050815      1000.0      None
4  801005.SI   申万创业板     SW      申万研究       其他  20091105      1000.0  20091106

### 指数日线行情index_daily

In [24]:
df = pro.index_daily(ts_code='399300.SZ')
df.head()

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,399300.SZ,20190730,3870.3176,3861.5698,3890.7298,3861.5698,3854.2704,16.0472,0.4163,94123955.0,120480280.0
1,399300.SZ,20190729,3854.2704,3857.9394,3862.7467,3842.4260,3858.5688,-4.2984,-0.1114,84814370.0,111679108.8
2,399300.SZ,20190726,3858.5688,3835.2281,3863.5878,3832.5223,3851.0665,7.5023,0.1948,83259300.0,110929728.7
3,399300.SZ,20190725,3851.0665,3821.3898,3851.0665,3812.9532,3819.8325,31.2340,0.8177,93740417.0,125899502.5
4,399300.SZ,20190724,3819.8325,3803.5867,3840.0579,3803.5738,3789.9135,29.9190,0.7894,90940684.0,129940587.2

In [ ]:
#或者按日期取

df = pro.index_daily(ts_code='399300.SZ', start_date='20180101', end_date='20181010')

### 申万行业分类index_classify
描述：获取申万行业分类，包括申万28个一级分类，104个二级分类，227个三级分类的列表信息  
权限：用户需2000积分可以调取

## 基金

### 公募基金列表fund_basic
描述：获取公募基金数据列表，包括场内和场外基金

In [2]:
#交易市场: E场内 O场外（默认E）
df = pro.fund_basic(market='E')
df.head()

Exception: 抱歉，您没有权限访问该接口，权限的具体详情访问：https://tushare.pro/document/1?doc_id=108。

### 公募基金公司fund_company
描述：获取公募基金管理人列表

In [26]:
df = pro.fund_company()
df.head()

,name,shortname,province,city,address,phone,office,website,chairman,manager,reg_capital,setup_date,end_date,employees,main_business,org_code,credit_code
0,北京广能投资基金管理有限公司,广能基金,北京,北京市,北京市朝阳区北四环中路27号院5号楼2712-2715A,None,北京市朝阳区北四环中路27号院5号楼2712-2715A,www.gnfund.cn,刘锡潜,杨运成,1.000000e+04,20111031,None,10.0,None,584419680,None
1,平安银行股份有限公司,平安银行,广东,深圳市,广东省深圳市罗湖区深南东路5047号,86-755-82080387,广东省深圳市罗湖区深南东路5047号,www.bank.pingan.com,谢永林,胡跃飞,1.717041e+06,19871222,None,32744.0,"主要业务:贷款,拆借,存放等同业业务,债券投资.",192185379,91440300192185379H
2,宏源证券股份有限公司,宏源证券,新疆,乌鲁木齐市,新疆维吾尔自治区乌鲁木齐市文艺路233号宏源大厦,86-991-2301870,新疆维吾尔自治区乌鲁木齐市文艺路233号宏源大厦,www.hysec.com,冯戎,冯戎,3.972408e+05,19930525,None,5347.0,主要业务:代理买卖证券.,228593068,None
3,陕西省国际信托股份有限公司,陕国投,陕西,西安市,陕西省西安市高新区科技路50号金桥国际广场C座,"86-29-88897633,86-29-81870266,86-29-81870262",陕西省西安市高新区科技路50号金桥国际广场C座,www.siti.com.cn,薛季民,姚卫东,3.964013e+05,19850105,None,498.0,"主营业务:房地产及实业,信托业",220530273,91610000220530273T
4,东北证券股份有限公司,东北证券,吉林,长春市,吉林省长春市生态大街6666号,86-431-85096806,吉林省长春市生态大街6666号,www.nesc.cn,李福春,何俊岩,2.340453e+05,19880824,None,3005.0,"主营业务:证券经纪业务,证券承销与保荐业务,证券自营业务,证券资产管理业务和信用交易业务等.",664275090,91220000664275090B

### 场内基金日线行情fund_daily
描述：获取场内基金日线行情，类似股票日行情  
更新：每日收盘后2小时内  
限量：单次最大800行记录，总量不限制

In [30]:
df = pro.fund_daily(ts_code='510300.SH')
df.head()

,ts_code,trade_date,pre_close,open,high,low,close,change,pct_chg,vol,amount
0,510300.SH,20190730,3.906,3.910,3.949,3.909,3.924,0.018,0.4608,2396548.55,941746.113
1,510300.SH,20190729,3.912,3.910,3.914,3.892,3.906,-0.006,-0.1534,2471021.62,964260.317
2,510300.SH,20190726,3.907,3.890,3.921,3.887,3.912,0.005,0.1280,2857908.92,1115742.690
3,510300.SH,20190725,3.872,3.871,3.908,3.866,3.907,0.035,0.9039,2336295.86,908142.115
4,510300.SH,20190724,3.841,3.854,3.900,3.852,3.872,0.031,0.8071,2974453.89,1154191.782

## 外汇

## 特色大数据

### 新闻联播cctv_news
描述：获取新闻联播文字稿数据，数据开始于2006年6月，超过12年历史  
限量：总量不限制  
积分：用户积累120积分可以调取，但会做流控限制，超过5000无限制，

In [31]:
df = pro.cctv_news(date='20181211')
df.head()

,date,title,content
0,20181211,《习近平谈“一带一路”》出版发行,中共中央党史和文献研究院编辑的《习近平谈“一带一路”》一书，已由中央文献出版社出版，即日起在...
1,20181211,【在习近平新时代中国特色社会主义思想指引下——新时代 新作为 新篇章】北京“吹哨报到”：高效...,习近平总书记视察北京时强调，要坚持人民城市为人民，以北京市民最关心的问题为导向，对大气污染、...
2,20181211,汪洋率中央代表团一分团在南宁看望慰问各族干部群众,中共中央政治局常委、全国政协主席、中央代表团团长汪洋，11日率中央代表团一分团在南宁看望慰问...
3,20181211,国务院办公厅印发《关于国家综合性消防救援车辆悬挂应急救援专用号牌有关事项的通知》,近日，国务院办公厅印发《关于国家综合性消防救援车辆悬挂应急救援专用号牌有关事项的通知》，对应...
4,20181211,【数说改革开放40年】全方位开放新格局逐步形成,改革开放40年，我国对外贸易实现历史性跨越，外商投资环境持续改善，对外投资合作深入推进。今天...

In [2]:
df = ts.get_hist_data('002461')

In [3]:
df.shape

(610, 13)

In [4]:
df.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2019-07-30,6.29,6.31,6.23,6.22,51610.49,-0.05,-0.80,6.162,6.146,6.278,41281.56,38317.67,60835.64
2019-07-29,6.12,6.30,6.28,6.10,82075.96,0.20,3.29,6.124,6.151,6.295,35836.76,36154.72,62895.58
2019-07-26,6.12,6.13,6.08,6.06,18335.85,-0.04,-0.65,6.072,6.155,6.308,26524.61,32072.95,65374.14
2019-07-25,6.10,6.12,6.12,6.03,27476.05,0.02,0.33,6.090,6.180,6.322,27904.89,34104.47,68143.20
2019-07-24,6.06,6.11,6.10,6.06,26909.45,0.06,0.99,6.096,6.194,6.339,33146.47,37338.26,74458.68

In [5]:
ts.get_today_all()

[Getting data:]############################################################

,code,name,changepercent,trade,open,high,low,settlement,volume,turnoverratio,amount,per,pb,mktcap,nmc
0,688388,嘉元科技,0.241,62.41,62.60,63.60,60.24,62.26,17286984.0,32.71643,1.075187e+09,61.186,12.482,1.440897e+06,3.297673e+05
1,688333,铂力特,2.206,78.29,79.57,85.70,77.35,76.60,9502271.0,52.90962,7.716360e+08,82.411,11.934,6.263200e+05,1.406044e+05
2,688122,西部超导,2.797,52.55,51.18,55.00,48.76,51.12,17207720.0,43.34188,8.933304e+08,154.604,11.017,2.318884e+06,2.086355e+05
3,688088,虹软科技,2.050,67.71,66.00,67.73,63.68,66.35,14499579.0,38.15056,9.589723e+08,138.184,23.113,2.749026e+06,2.573400e+05
4,688066,航天宏图,6.784,65.01,58.21,65.66,57.31,60.88,18794993.0,49.92405,1.134672e+09,130.020,18.008,1.079058e+06,2.447442e+05
5,688033,天宜上佳,2.198,46.50,45.00,47.50,43.89,45.50,18961725.0,43.65441,8.752529e+08,70.455,13.717,2.086628e+06,2.019773e+05
6,688029,南微医学,4.681,135.07,128.00,135.42,125.60,129.03,10189712.0,33.30832,1.328903e+09,70.093,18.477,1.801023e+06,4.132074e+05
7,688028,沃尔德,3.428,91.72,95.00,105.90,85.26,88.68,12521632.0,68.98029,1.174290e+09,83.382,14.987,7.337600e+05,1.664945e+05
8,688022,瀚川智能,13.778,66.97,57.00,68.88,56.20,58.86,14616059.0,59.84120,9.202439e+08,76.977,28.377,7.232760e+05,1.635725e+05
9,688020,方邦股份,3.862,111.35,108.00,112.85,105.01,107.21,6723054.0,36.83229,7.353911e+08,57.103,13.954,8.908000e+05,2.032489e+05
10,688019,安集科技,4.121,190.02,183.86,196.00,180.23,182.50,4303888.0,37.18276,8.221998e+08,168.159,20.129,1.009165e+06,2.199473e+05
11,688018,乐鑫科技,0.673,163.00,160.01,164.49,157.00,161.91,5843864.0,33.51394,9.396665e+08,104.173,26.038,1.304000e+06,2.842250e+05
12,688016,心脉医疗,15.945,178.52,153.80,184.00,151.51,153.97,6808210.0,48.69667,1.115520e+09,106.262,34.463,1.284954e+06,2.495862e+05
13,688015,交控科技,2.677,53.70,52.00,53.70,49.51,52.30,14803618.0,45.21820,7.701757e+08,97.636,18.525,8.592000e+05,1.758040e+05
14,688012,中微公司,2.133,83.78,82.20,84.50,80.58,82.03,10526392.0,21.73681,8.762024e+08,418.900,18.924,4.481076e+06,4.057178e+05
15,688011,新光光电,2.088,74.30,71.00,77.77,69.51,72.78,9799922.0,43.02941,7.194898e+08,76.598,18.346,7.430000e+05,1.692178e+05
16,688010,福光股份,0.661,73.06,71.00,76.00,68.02,72.58,13642380.0,38.48809,9.873543e+08,91.761,10.247,1.122070e+06,2.589664e+05
17,688009,中国通号,-0.486,10.23,10.23,10.34,10.10,10.28,180915589.0,15.27525,1.852743e+09,26.921,3.363,1.083338e+07,1.211611e+06
18,688008,澜起科技,0.697,75.10,74.40,75.90,72.30,74.58,15434911.0,20.75008,1.150817e+09,86.322,0.000,8.484902e+06,5.586301e+05
19,688007,光峰科技,5.859,45.89,44.99,48.54,43.98,43.35,30884619.0,54.00078,1.434270e+09,62.863,22.495,2.072183e+06,2.624583e+05
20,688006,杭可科技,2.230,56.85,56.00,57.97,54.02,55.61,12458182.0,33.86667,7.062336e+08,71.509,18.762,2.279685e+06,2.091283e+05
21,688005,容百科技,4.201,49.86,48.70,50.88,47.68,47.85,15659738.0,38.44101,7.781402e+08,89.036,6.289,2.210223e+06,2.031150e+05
22,688003,天准科技,3.241,50.65,49.50,51.84,47.50,49.06,17416513.0,39.42307,8.713578e+08,76.742,17.169,9.805840e+05,2.237640e+05
23,688002,睿创微纳,0.418,50.41,50.70,51.75,48.66,50.20,17942122.0,34.79279,9.061974e+08,135.329,18.127,2.243245e+06,2.599568e+05
24,688001,华兴源创,2.361,56.79,55.40,59.87,53.39,55.48,13962223.0,38.51692,7.942504e+08,84.761,21.033,2.277279e+06,2.058614e+05
25,603999,读者传媒,-1.091,5.44,5.36,5.47,5.35,5.50,9033727.0,1.56836,4.888837e+07,77.714,1.861,3.133440e+05,3.133440e+05
26,603998,方盛制药,-0.442,6.75,6.81,6.85,6.74,6.78,6471843.0,1.52208,4.390405e+07,39.706,2.734,2.955303e+05,2.870078e+05
27,603997,继峰股份,0.393,7.66,7.60,7.75,7.58,7.63,1226250.0,0.19407,9.411857e+06,16.069,2.534,4.897905e+05,4.840131e+05
28,603996,ST中新,-0.211,4.73,4.72,4.78,4.72,4.74,2369800.0,0.78954,1.126781e+07,-18.192,1.050,1.419710e+05,1.419710e+05
29,603993,洛阳钼业,0.000,3.54,3.53,3.57,3.52,3.54,92283167.0,0.52238,3.274909e+08,16.465,1.876,7.646131e+06,6.253683e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3715,600518,ST康美,-1.183,3.34,3.39,3.40,3.33,3.38,43262900.0,0.98129,1.454576e+08,18.152,0.653,1.661270e+06,1.472535e+06
3716,600485,*ST信威,-4.943,7.50,7.50,7.50,7.50,7.89,157900.0,0.00871,1.184250e+06,-7.576,3.165,2.192807e+06,1.359412e+06
3717,600462,*ST九有,-0.676,1.47,1.47,1.50,1.46,1.48,5311800.0,0.99513,7.854988e+06,-2.882,-367.500,7.846566e+04,7.846566e+04
3718,600444,国机通用,-1.942,12.12,12.35,12.35,12.08,12.36,1735500.0,1.18527,2.118674e+07,37.605,3.120,1.774634e+05,1.774634e+05
3719,600423,*ST柳化,0.000,3.00,3.00,3.03,3.00,3.00,1116462.0,0.13979,3.358003e+06,3.333,1.153,2.396085e+05,2.396085e+05
3720,600421,*ST仰帆,-1.210,8.98,8.70,9.20,8.66,9.09,1822080.0,0.93153,1.623405e+07,-179.600,1425.397,1.756488e+05,1.756488e+05
3721,600408,ST安泰,0.000,2.39,2.40,2.43,2.37,2.39,3203000.0,0.31814,7.700668e+06,2.951,1.592,2.406252e+05,2.406252e+05
3722,600401,退市海润,0.000,0.15,0.00,0.00,0.00,0.15,0.0,0.00000,0.000000e+00,-0.190,-0.253,7.087403e+04,7.087403e+04
3723,600399,ST抚钢,4.934,3.19,3.06,3.19,3.05,3.04,8874871.0,0.45002,2.816346e+07,1.587,1.491,6.290999e+05,6.290999e+05
3724,600396,*ST金山,1.676,1.82,1.79,1.83,1.78,1.79,6415800.0,0.43565,1.166831e+07,-3.678,1.306,2.680326e+05,2.680326e+05
3725,600385,*ST金泰,0.264,7.61,7.60,7.70,7.59,7.59,276300.0,0.19352,2.112791e+06,-108.714,20.838,1.127095e+05,1.086509e+05
3726,600321,ST正源,0.549,1.83,1.83,1.84,1.82,1.82,1755300.0,0.11620,3.215546e+06,72.332,1.025,2.764307e+05,2.764307e+05
3727,600311,荣华实业,3.931,4.23,4.07,4.25,4.04,4.07,43398380.0,6.52019,1.802616e+08,-25.903,3.963,2.815488e+05,2.815488e+05
3728,600301,ST南化,0.451,6.68,6.57,6.80,6.57,6.65,645300.0,0.27442,4.319734e+06,29.043,5.163,1.570790e+05,1.570790e+05
3729,600289,*ST信通,0.382,2.63,2.60,2.64,2.60,2.62,680800.0,0.12030,1.783294e+06,-1.126,-2.042,1.659667e+05,1.488377e+05
3730,600275,ST昌鱼,4.955,2.33,2.22,2.33,2.21,2.22,4972277.0,0.97718,1.138783e+07,277.381,7.985,1.185591e+05,1.185591e+05
3731,600265,ST景谷,4.500,26.94,25.89,27.05,25.87,25.78,314241.0,0.24210,8.334234e+06,576.874,97.362,3.496812e+05,3.496812e+05
3732,600247,ST成城,0.475,4.23,4.21,4.25,4.02,4.21,1904213.0,0.56599,7.837430e+06,192.273,2115.000,1.423148e+05,1.423148e+05
3733,600242,中昌数据,0.497,8.09,8.03,8.16,8.03,8.05,3009300.0,0.91820,2.441864e+07,29.963,1.751,3.694421e+05,2.651397e+05
3734,600240,*ST华业,2.083,0.98,0.95,0.98,0.95,0.96,17919230.0,1.25815,1.735225e+07,-0.217,10.526,1.395769e+05,1.395769e+05
3735,600238,ST椰岛,-4.725,9.88,10.38,10.49,9.85,10.37,5332453.0,1.19830,5.396223e+07,109.778,5.682,4.428216e+05,4.396616e+05
3736,600234,*ST山水,1.543,7.24,7.18,7.25,7.11,7.13,307865.0,0.15207,2.212775e+06,-90.500,26.433,1.465708e+05,1.465708e+05
3737,600228,ST昌九,0.000,7.03,7.03,7.09,7.01,7.03,430200.0,0.17827,3.028870e+06,234.333,28.930,1.696480e+05,1.696480e+05
3738,600217,中再资环,1.413,5.74,5.61,5.78,5.46,5.66,21228670.0,1.60956,1.202075e+08,25.209,5.311,7.970907e+05,7.570548e+05
3739,600209,ST罗顿,-0.595,3.34,3.36,3.39,3.32,3.36,2000801.0,0.45575,6.704411e+06,177.660,2.369,1.466297e+05,1.466297e+05
3740,600193,ST创兴,0.000,3.84,3.95,4.00,3.79,3.84,12743590.0,2.99586,4.984153e+07,54.857,7.596,1.633432e+05,1.633432e+05
3741,600186,*ST莲花,0.610,1.65,1.63,1.67,1.63,1.64,2546019.0,0.23973,4.208498e+06,-5.323,-5.151,1.752340e+05,1.752340e+05
3742,600179,ST安通,5.166,2.85,2.85,2.85,2.85,2.71,1682581.0,0.24977,4.795356e+06,6.951,1.242,4.237893e+05,1.919872e+05
3743,600163,中闽能源,1.289,3.93,3.90,3.98,3.89,3.88,5407200.0,0.54101,2.127787e+07,30.231,2.066,3.927898e+05,3.927898e+05
3744,600149,ST坊展,-0.178,5.62,5.59,5.68,5.56,5.63,1356600.0,0.35685,7.638382e+06,1040.741,10.323,2.136499e+05,2.136499e+05