# pyhive
https://pypi.org/project/PyHive/

In [6]:
# !pip install sasl
# !pip install thrift
# !pip install thrift-sasl
# !pip install PyHive
!pip freeze | grep PyHive

PyHive==0.6.1

In [2]:
from pyhive import hive

# 查询hive中存在的databases

In [11]:
try:
    conn = hive.Connection(host='10.0.107.4', port=10000, database='default', username='hive')
    print('hive连接成功！')
except Exception as e:
#     raise Exception("hive连接异常！")
    print('hive连接失败！')

hive连接成功！

In [12]:
cursor = conn.cursor()

In [13]:

cursor.execute('show databases')

cursor.fetchall()

[('default',), ('information_schema',), ('sys',)]

# 查询hive存在的tables

In [14]:
cursor.execute('show tables')

cursor.fetchall()

[]

In [8]:
# cursor.execute('use sys')
# cursor.execute('show tables')
# cursor.fetchall()

[('bucketing_cols',),
 ('cds',),
 ('columns_v2',),
 ('database_params',),
 ('db_privs',),
 ('db_version',),
 ('dbs',),
 ('funcs',),
 ('global_privs',),
 ('key_constraints',),
 ('mv_creation_metadata',),
 ('mv_tables_used',),
 ('part_col_privs',),
 ('part_col_stats',),
 ('part_privs',),
 ('partition_key_vals',),
 ('partition_keys',),
 ('partition_params',),
 ('partitions',),
 ('role_map',),
 ('roles',),
 ('sd_params',),
 ('sds',),
 ('sequence_table',),
 ('serde_params',),
 ('serdes',),
 ('skewed_col_names',),
 ('skewed_col_value_loc_map',),
 ('skewed_string_list',),
 ('skewed_string_list_values',),
 ('skewed_values',),
 ('sort_cols',),
 ('tab_col_stats',),
 ('table_params',),
 ('tbl_col_privs',),
 ('tbl_privs',),
 ('tbls',),
 ('wm_mappings',),
 ('wm_pools',),
 ('wm_pools_to_triggers',),
 ('wm_resourceplans',),
 ('wm_triggers',)]

# create table

In [15]:
cursor.execute('create table if not exists scores_model(model_file string,create_time int)')

In [24]:
# cursor.execute('drop table scores_model')

In [16]:
cursor.execute('select * from scores_model')

cursor.fetchall()

[]

In [17]:
cursor.execute('desc scores_model')

cursor.fetchall()

[('model_file', 'string', ''), ('create_time', 'int', '')]

# 修改table字段类型

In [18]:
# cursor.execute('alter table scores_model change column create_time create_time string')

In [23]:
'insert into scores_model(model_file, create_time) VALUES ("{}", "{}")'.format('aa', '2018-01-01')

'insert into scores_model(model_file, create_time) VALUES ("aa", "2018-01-01")'

In [ ]:
s = 'gANjc2tsZWFybi5saW5lYXJfbW9kZWwubG9naXN0aWMKTG9naXN0aWNSZWdyZXNzaW9uCnEAKYFxAX1xAihYBwAAAHBlbmFsdHlxA1gCAAAAbDJxBFgEAAAAZHVhbHEFiVgDAAAAdG9scQZHPxo24uscQy1YAQAAAENxB0c/8AAAAAAAAFgNAAAAZml0X2ludGVyY2VwdHEIiFgRAAAAaW50ZXJjZXB0X3NjYWxpbmdxCUsBWAwAAABjbGFzc193ZWlnaHRxCk5YDAAAAHJhbmRvbV9zdGF0ZXELTlgGAAAAc29sdmVycQxYBAAAAHdhcm5xDVgIAAAAbWF4X2l0ZXJxDktkWAsAAABtdWx0aV9jbGFzc3EPaA1YBwAAAHZlcmJvc2VxEEsAWAoAAAB3YXJtX3N0YXJ0cRGJWAYAAABuX2pvYnNxEk5YCAAAAGNsYXNzZXNfcRNjc2tsZWFybi5leHRlcm5hbHMuam9ibGliLm51bXB5X3BpY2tsZQpOdW1weUFycmF5V3JhcHBlcgpxFCmBcRV9cRYoWAgAAABzdWJjbGFzc3EXY251bXB5Cm5kYXJyYXkKcRhYBQAAAHNoYXBlcRlLAoVxGlgFAAAAb3JkZXJxG2gHWAUAAABkdHlwZXEcY251bXB5CmR0eXBlCnEdWAIAAABmOHEeSwBLAYdxH1JxIChLA1gBAAAAPHEhTk5OSv////9K/////0sAdHEiYlgKAAAAYWxsb3dfbW1hcHEjiHViAAAAAAAAAAAAAAAAAADwP1gFAAAAY29lZl9xJGgUKYFxJX1xJihoF2gYaBlLAUsrhnEnaBtoB2gcaCBoI4h1YimeboPVPuo/CtJSUare+j9X01JRqt76P4mD/SL2T4m/x7d+GcvCgT+mQCHyZVaHPzg2IfJlVoc/r7kh8mVWhz+v0SHyZVaHPz3BIfJlVoc/74sh8mVWhz+HViLyZVaHP1e3oB9RzIe/YPSBVhQNib8vpk4sSsn3P8nSUlGq3vo/ktNSUare+j+tdyHyZVaHP3EOIfJlVoc/aJsh8mVWhz/PJ8+oi2/zPyIgv8cnbgFA9kU8jd/AvT+rMzyN38C9P4JV9iNTguQ/XEilMxpZ8j+xf4gtNXLzP+vyfhUgFe0/NkxwOXCq5T9VUMWtL0/jPwqfIPJlVoc/SCx/ppE16D8zNyHyZVaHP087IfJlVoc/Z4Ah8mVWhz90biHyZVaHP3eqIPJlVoc/Y3Ifv6q3wj/iHgSEiOODvwKVIPJlVoc/8WcwB69f3D96bDAHr1/cP8ZpMAevX9w/WAoAAABpbnRlcmNlcHRfcShoFCmBcSl9cSooaBdoGGgZSwGFcStoG2gHaBxoIGgjiHVivBkZqJpJzD9YBwAAAG5faXRlcl9xLGgUKYFxLX1xLihoF2gYaBlLAYVxL2gbaAdoHGgdWAIAAABpNHEwSwBLAYdxMVJxMihLA2ghTk5OSv////9K/////0sAdHEzYmgjiHViBQAAAFgQAAAAX3NrbGVhcm5fdmVyc2lvbnE0WAYAAAAwLjIwLjNxNXViLg=='
cursor.execute('insert into scores_model(model_file, create_time) VALUES ("{}", "{}")'.format(s, 101))

In [ ]:
cursor.close()
conn.close()

# 异步执行

In [ ]:
# In Python 3.7 async became a keyword; you can use async_ instead:

cursor.execute('SELECT * FROM my_awesome_data LIMIT 10', async_=True)