https://mp.weixin.qq.com/s/guh05AZoKoc1xgApNRl99Q

In [1]:
import pandas as pd

## one-hot 编码

In [2]:
s = pd.Series(['a', 'b', None, 'a'])

In [3]:
pd.get_dummies(s)

   a  b
0  1  0
1  0  1
2  0  0
3  1  0

## 序数编码

In [8]:
s = pd.Series(['a', 'b', 'c', 'a'])
d = dict(zip(['a', 'b', 'c'], range(3)))

In [9]:
d

{'a': 0, 'b': 1, 'c': 2}

In [10]:
s.map(lambda x: d[x])

0    0
1    1
2    2
3    0
dtype: int64

## 标签编辑器
我们也可以使用标签编辑器将变量编码为数字。标签编辑器本质上做的是它看到列中的第一个值并将其转换成0，下一个值转换成1，依次类推。这种方法在树模型中运行得相当好，当我在分类变量中有很多级别时，可以使用它。

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()
le.fit_transform(s)

array([0, 1, 2, 0])

## 二进制编码器

二进制编码器是另一种可用于对分类变量进行编码的方法。如果一个列中有多个级别，那么这是一种很好的方法。虽然我们可以使用一个热编码来对使用1023列的具有1024个级别的列进行编码，但是使用二进制编码，我们可以通过使用10列来完成。

In [14]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/6e/a1/f7a22f144f33be78afeb06bfa78478e8284a64263a3c09b1ef54e673841e/category_encoders-2.0.0-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 490kB/s eta 0:00:01
Requirement already satisfied: statsmodels>=0.6.1 in /Users/luoyonggui/anaconda3/lib/python3.7/site-packages (from category_encoders) (0.9.0)
Requirement already satisfied: pandas>=0.21.1 in /Users/luoyonggui/anaconda3/lib/python3.7/site-packages (from category_encoders) (0.24.2)
Requirement already satisfied: patsy>=0.4.1 in /Users/luoyonggui/anaconda3/lib/python3.7/site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /Users/luoyonggui/anaconda3/lib/python3.7/site-packages (from category_encoders) (0.20.3)
Requirement already satisfied: scipy>=0.19.0 in /Users/luoyonggui/anaconda3/lib/python3.7/site-packages (from category_encoders) (1.1.0)
Requirement already satisfied: numpy>=1.11.3 in /Users/luoyonggui/anaconda3/lib/python3.7/site-packages (from category_encoders) (1.14.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/luoyonggui/anaconda3/lib/python3.7/site-packages (from pandas>=0.21.1->category_encoders) (2.8.0)
Requirement already satisfied: pytz>=2011k in /Users/luoyonggui/anaconda3/lib/python3.7/site-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /Users/luoyonggui/anaconda3/lib/python3.7/site-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.0.0

In [15]:
from category_encoders.binary import BinaryEncoder

In [17]:
be = BinaryEncoder(cols=['a'])

In [19]:
df = pd.DataFrame(pd.Series(range(16)), columns=['a'])

In [20]:
be.fit_transform(df)

    a_0  a_1  a_2  a_3  a_4
0     0    0    0    0    1
1     0    0    0    1    0
2     0    0    0    1    1
3     0    0    1    0    0
4     0    0    1    0    1
5     0    0    1    1    0
6     0    0    1    1    1
7     0    1    0    0    0
8     0    1    0    0    1
9     0    1    0    1    0
10    0    1    0    1    1
11    0    1    1    0    0
12    0    1    1    0    1
13    0    1    1    1    0
14    0    1    1    1    1
15    1    0    0    0    0

## 哈希散列编码器



可以将哈希散列编码器视为一个黑盒函数，它将字符串转换为0到某个预定值之间的数字。



它与二进制编码器不同，因为在二进制编码中，两个或多个俱乐部参数可能是1，而在哈希散列中只有一个值是1。



我们可以像这样使用哈希散列：

In [21]:
from category_encoders.hashing import HashingEncoder

In [22]:
he = HashingEncoder(cols=['a'])

In [23]:
he.fit_transform(df)

    col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7
0       0      0      1      0      0      0      0      0
1       0      0      0      1      0      0      0      0
2       0      0      0      0      1      0      0      0
3       0      0      0      1      0      0      0      0
4       0      0      0      0      1      0      0      0
5       0      0      0      0      0      1      0      0
6       0      0      0      0      1      0      0      0
7       0      0      0      1      0      0      0      0
8       0      0      0      0      0      1      0      0
9       0      0      0      0      0      0      1      0
10      1      0      0      0      0      0      0      0
11      0      0      1      0      0      0      0      0
12      1      0      0      0      0      0      0      0
13      0      1      0      0      0      0      0      0
14      0      0      0      0      0      0      1      0
15      0      0      0      1      0      0      0      0

一定会有冲突（两个俱乐部有相同的编码。例如，尤文图斯足球俱乐部和巴黎圣日耳曼足球俱乐部具有相同的编码），但有时这种技术效果很好。